.container {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

.tittle1 {
    width: 100%;
    height: 45px;
    /**background-color: rgb(151, 219, 130);**/
    text-align: center;
    cursor: default;
    margin-bottom: 10px;
}
.tittle1 a{
    text-decoration: none;
    font-size: 27px;
    font-weight: 550;
    color: #F7941D;
}

/**San pham**/
.product1 {
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.col1 {
  width: 19%;
  height: 310px;
  border: 1.5px solid rgb(212, 211, 211);
  border-radius: 5px;
}
.col1 img {
  width: 100%;
  height: 210px;
}
.col1:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
  transform: translate(0, -7px);
}
/**HOT**/
.main_img_top{
  display: inline;
  position: absolute;
  z-index: 1;
}
.round p{
  color: white;
  position: absolute;
  z-index: 2;
  font-size: 15px;
  margin-left: 14px;
  font-weight: 600;
}
.round {
  width: 70px;
  height: 30px;
  background-color: red;
  position: absolute;
  padding: 5px;
  /**border-radius: 0 5px 5px 0;**/
}

.name {
  font-size: 18px;
  padding-left: 9px;
  padding-top: 5px;
}
.name a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.name a:hover{
  color: #F7941D;
  cursor: pointer;
}
.author {
  font-size: 14px;
  color: gray;
  padding-left: 9px;
  padding-top: 3px;
}
.number {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4.5%;
}
.numberofbook {
  color: gray;
  font-size: 14px;
}
.heart i {
  color: gray;
  font-size: 17px;
}
.heart i:hover {
  color: red;
}

