.footer {
  width: 100%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.footer hr{
  margin: 0 15px 10px 15px;
}
.footer ul {
  margin-top: 10px;
  list-style: none;
  font-size: 14px;
}
.footer a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}
.footer_footer {
  display: flex;
  justify-content: space-between;
  color: rgb(71, 71, 71);
}
.footer4 img {
  width: 220px;
  height:80px;
}
.footer1, .footer2, .footer3, .footer4{
  width: 25%;
  margin: 0 20px;
}
.footer1{
  padding-left: 10px;
}
.footer2{
  padding-left: 25px;
}

.coppyright {
  width: 100%;
  height: 40px;
  color: white;
  background-color: rgb(43, 43, 43);
  text-align: center;
  font-size: 16px;
  padding-top: 12px;
}