.sale {
  width: 100%;
  height: 1350px;
}

.menuL_sale {
  width: 14.5%;
  background-color: white;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 19px;
}
.menuL_sale h2 {
  padding-left: 5px;
  margin-top: 0;
}
.menuleft_sale {
  width: 100%;
  font-size: 18px;
}
.menuleft_sale ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menuleft_sale ul a {
  text-decoration: none;
}
.menuleft_sale li {
  width: 100%;
  height: 41.4px;
  border: 1px solid gainsboro;
  padding-left: 10px;
  padding-top: 12px;
}
.menuleft_sale li:hover {
  background-color: rgb(151, 219, 130);
}
.menuleft_sale li a {
  color: black;
}
.menuleft_sale li a:hover {
  color: white;
}

.banner_sale {
  width: 100%;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.banner_sale img {
  width: 100%;
  height: 100%;
}

/**product**/
.sale_contain {
  width: 81%;
  margin-left: 17.5%;
}

.sale_product {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sale_col {
  width: 23%;
  height: 270px;
  border: 1px solid rgb(212, 211, 211);
}
.sale_col img {
  width: 100%;
  height: 170px;
}
.sale_col:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
  transform: translate(0, -7px);
}
/**Discount**/
.sale_img_top {
  display: inline;
  position: absolute;
  z-index: 1;
}
.sale_img_top p {
  color: white;
  position: absolute;
  z-index: 2;
  margin-top: 12px;
  margin-left: 14px;
  font-size: 20px;
  font-weight: 600;
}
.sale_round {
  width: 70px;
  height: 40px;
  background-color: red;
  position: absolute;
  /**border-radius: 0 5px 5px 0;**/
}
.sale_name {
  font-size: 20px;
  padding-left: 9px;
  padding-top: 5px;
}
.sale_name a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.sale_name a:hover {
  color: rgb(151, 219, 130);
  cursor: pointer;
}
.sale_loca {
  font-size: 14px;
  color: gray;
  padding-left: 9px;
  padding-top: 3px;
}

.sale_price_buy {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4.5%;
}
.sale_price {
  color: grey;
  font-size: 17px;
  text-decoration: line-through rgb(194, 194, 194);
}
.new_price {
  color: rgb(231, 17, 17);
  font-size: 17px;
  margin-right: 25px;
}
.sale_buy {
  color: gray;
}
