/*--Header*/
#app{
    display: unset !important;
}
.header{
    height: var(--header-height);
    background-image:white;
}
.header-navbar{
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
}
.header_navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0;
}
.header_navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header_navbar-item,
.header_navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: rgba(17, 17, 17, 1);
    text-decoration: none;
    font-weight: 700;
}

.header_navbar-item:hover, 
.header_navbar-icon-link:hover,
.header_navbar-item-link:hover,
.header_navbar-item-header_navbar-item--separate a:hover,
.header_navbar-item--strong a:hover
{
    color: #F7941D;
    cursor: pointer;
}

.header_navbar-item-header_navbar-item--separate{
    font-weight: 700;
}
.header_navbar-item-header_navbar-item--separate a, .header_navbar-item--strong a{
    text-decoration: none;
    color: rgba(17, 17, 17, 1);
}
.header_navbar-item--strong{
    font-weight: 700;
}
.header_navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    border-left: 1px solid #fff;
    right: -9px;
    top: 45%;
    transform: translateY(-50%);
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

/* header with search */
.header-with-search{
    display: flex;
    height: 87px;
    align-items: center;
    margin: 8px 8px;
}
.header__logo{
    width: 240px;
}
.header-logo-img img{
    width: 200px;
    margin-left: 10px;
}
.header__search{
    height: 50px;
    flex: 1;
    border: 1px solid rgba(208, 208, 208, 0.7);
    border-radius: 5px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10%;
}
/* add list search */
.header__search-list{
    position: absolute;
    top: 105%;
    left: 0;
    background-color: #fff ;
    z-index: 3;
    width: 79%;
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.3);
    display: none;
    border-radius: 2px;
    margin-left: 105px;
}
.header__search-input:focus ~ .header__search-list{
    display: block;
}
.header__search-list ul{
    padding: 0;
    margin: 0;
}
.header__search-list li{
    list-style-type: none;
    /* padding-left: 2%; */
    padding: 15px 2%;
}
.header__search-list li:hover{
    background-color: rgba(240, 235, 235, 0.7);
    color: #fff;
}
.header__search-list a{
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.header__cark{
    width: 150px;
    text-align: center;
}
.header__cark-icon{
    font-size: 2.4rem;
    color: var(--white-color);
}
.header__cark i:hover {
    color: rgba(255, 255, 255, 0.7);
}
#countsp{
  font-size: 15px;
  color: #fff;
}

.header__search-input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 1.5rem;
    color: black;
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-selection{
    border-right: 1px solid rgba(208, 208, 208, 0.7);
    padding-left: 16px;
    cursor: pointer;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
}
.header__search-selection-labe{
    font-size: 1.5rem;
    color: var(--text-color);
}
.header__search-selection-icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
}
span.header__search-selection-label {
    font-size: 14px;
    margin-right: 10px;
}

.header__search-selection .sub_address{
     width: 200px;
    /* height: 130px; */
    background-color: #fff;
    position: absolute;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    top: 78%;
    left: 0;
    display: none; 
}
.header__search-selection .sub_address a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 18px;
    margin-left: 18px;
}
.header__search-selection .sub_address li{
    list-style-type: none;
    padding: 15px 0;
}
.header__search-selection .sub_address li:hover{
    background-color: #F7941D;
}
.header__search-selection:hover .sub_address{
    display: block;
}

.header__search-btn{
background-color: #222 ;
border: none;
height: 50px;
width: 65px;
border-radius: 0 5px 5px 0;
outline: none;
}
.header__search-btn-icon{
    font-size: 1.9rem;
    color: #fff;
}
.header__search-btn:hover{
    background-color:#F7941D ;
}

/* Notification */
.header__notify{
    position: absolute;
    width: 404px;
    background-color: #fff;
    top: 118%;
    right: 0;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    animation:notify-header-growth ease-in 0.2s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top ;
    display: none;
    z-index: 3;
    
}
.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 1px;
    top: -29px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
}
.header_navbar-item-has-notify:hover .header__notify{
    display: block;
}
.container-notify-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}
@keyframes notify-header-growth{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify .notify-header-img{
    padding-top: 45px;
}
.header__notify .notify-header-paragraph p{
    color: #000;
}
.header__notify .notify-header-img img{
    width: 90px;
}
.header__notify .notify-footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(226,226,226);
    height: 45px;
}
.header__notify .notify-footer ul{
    display: flex;
    line-height: 45px;
    padding:0;
}
.header__notify .notify-footer li{
     list-style-type: none;
     width: 50%;
     text-align: center;
}
.header__notify .notify-footer li:hover{
    background-color: rgb(173,173,173);
    
}
.header__notify .notify-footer li a{
    color: #000;
    line-height: 45px;
    text-decoration: none;
    width: 201px;
}

/* Menu-top */
.Menu-top{
    height: 55px;
    width: 100%;
    background-color: #222; 
    position: sticky;
    top: 0;
    z-index: 2;
    margin-top: 20px;
}
.Menu-top .nav-menu{
    margin: 0;
    display: flex;
    justify-content: left;
    margin-left: 120px;
}
.Menu-top .nav-menu li{
    list-style-type: none;
    line-height: 55px;
    font-size: 17px;
    width: 160px;
    text-align: center;
    font-weight: 500;
}

.Menu-top .nav-menu li a{
    text-decoration: none;
    color: white;
}
.Menu-top .nav-menu li a:hover{
    background-color: #F7941D;
    color: white;
    padding: 17px;
}

.Slider{
    width: 100%;
    height: 435px;
    padding-top: 5px;
  }
  .menuL {
    width: 14.5%;
    background-color: white;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 19px;
  }
  .menuL h2{
    padding-left: 5px;
    margin-top: 15px;
  }
  .menuleft {
    width: 100%;
    font-size: 18px;
  }
  .menuleft ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menuleft ul a {
    text-decoration: none;
  }
  .menuleft li {
    width: 100%;
    height: 41.4px;
    border: 1px solid gainsboro;
    padding-left: 10px;
    padding-top: 12px;
  }
  .menuleft li:hover {
    background-color: rgb(151, 219, 130);
  }
  .menuleft li a {
    color: black;
  }
  .menuleft li a:hover {
    color: white;
  }
  .menuL img {
    width: 100%;
    height: 280px;
    margin-top: 10px;
  }
  
  /*Baner------------------------------------------------*/
  .banner {
    width: 97%;
    height: 400px;
    float: right;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 18px;
  }
  .slide-container {
    width: 1220px;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  .chuyen-slide {
    width: 9999px;
    transition: all 0.5s;
  }
  .chuyen-slide img{
    width: 1220px;
    height: 400px;
    float: left;
  }
  .dieuhuong{
    position: absolute;
    color: white;
    font-size: 25px;
    top: 46%;
    padding-left: 17px;
    display: none;
  }
  .banner:hover .dieuhuong{
     display: block;
  }
  .dieuhuong i:last-child{
    position: relative;
    left: 1135px;
  }
  
  /* .banner_page{
    width: 97%;
    height: 400px;
    float: right;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 18px;
  }
  .banner_page img{
    width: 100%;
    height: 100%;
  } */
  
  /*Menu pháº£i------------------------------------------------------*/
  .menuR {
    width: 16%;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    margin-top: 10px;
    background: white;
  }
  .tittle {
    color: gray;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
  }
  
  .food {
    width: 100%;
    height: 78px;
    display: flex;
    padding-top: 10px;
    font-size: 12px;
  }
  .food img {
    width: 60px;
    height: 60px;
    border-radius: 8%;
    margin-right: 8px;
    margin-left: 5px;
  }
  .food i {
    color: rgb(255, 230, 0);
  }
  .food:hover {
    height: 85px;
    background-color: rgb(241, 237, 237);
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: default;
  }
  .food img:hover {
    width: 70px;
    height: 70px;
  }
  .food a{
    text-decoration: none;
    color: black;
  }
  
  /*---------------ADS--------------------------------*/
  .ads_home {
    width: 99%;
    height: 300px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .ads_1{
    width: 100%;
    padding: 5px 14px;
    display: flex;
    justify-content: space-between;
  }
  .ads_box1{
    width: 600px;
    height: 260px;
  }
  .ads_box1 img{
    width: 100%;
    height: 100%;
  }
  
  
  
  
