*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.headersignup{
    width: 100%;
    height: 70px;
    background-color:white;
    border: 1px solid #ccc;
    padding-top: 5px;
}
.headersignup img{
    width: 270px;
    height: 60px;
    margin-left: 39%;

}
.containersignup form{
    width: 450px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.contentsignup{
    margin: 30px 15px;
}
.box_containersignup{
    border: 0.5px solid #ccc;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 5px;
}
.containersignup .box_containersignup h1{
    text-align: center;
    margin-top: 15px;
}
.input_groupsignup{
    margin-bottom: 25px;
}
.input_groupsignup p{
    margin-bottom: 8px;
}
.input_groupsignup .icon_inputsignup{
    position: relative;
}
.icon_inputsignup .icon_subsignup{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
}
.icon_inputsignup .icon_subsignup i{
    line-height: 35px;
}
.icon_inputsignup input{
    font-size: 15px;
    padding-right: 10px;
}

.containersignup .contentsignup input{
    width: 100%;
    height: 35px;
    padding-left: 35px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
}
.contentsignup .input_groupsignup p{
    font-size: 18px;
}

.login_inputsignup {
    width: 100%;
    height: 35px;
    margin: 0 0 15px 0;
    background-color: #F7941D;
    border: 0.5px solid #ccc;
    font-size: 17px;
}
.login_inputsignup:hover{
    color: white;
    /* background-image: linear-gradient(0,rgb(150,205,134),rgb(96,188,100)); */
    background-color:  #545AA6;
    cursor: pointer;
}

.span_dksignup{
    margin-left: 27%;
    font-size: 14px;
}
.span_dksignup a{
    font-size: 14px;
    color: blue;
}

